<div class="insights-container">
    <h1>Letra bem grande para ver o que vou colocar aqui</h1>

    <div class="d-grid-double">
        <div class="left-panel">
            <app-player-chart [games]="games" [displayType]="displayType"></app-player-chart>
        </div>

        <div class="right-panel">
            <app-hourly-players-chart [hourlyData]="hourlyData"></app-hourly-players-chart>
        </div>

        
        <!-- <div class="left-panel">
            <app-player-chart [games]="games" [displayType]="displayType"></app-player-chart>
        </div> -->
    </div>
    
</div>