<div class="container-global">
    <div class="content-nav d-flex fs-12">
        <a (click)="goToGameAchievements()">Conquistas</a>
        <a (click)="goToGamePlatinum()">Platinados</a>
        <a (click)="goToGameInProgress()">Em progresso</a>
        <a (click)="goToGameFinished()">Zerados</a>
        <a href="">Favoritos</a>
        <a href="">Dropados</a>
        <a href="">🕒</a>
        <a href="">🔤</a>
        <a href="">🏆</a>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>