@import "../../../../../shareds/colors.scss";

.container-overflow {
    height: 65vh;

    .game-card {
        background: $twilight-blue;
        border-radius: 15px;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s ease-in-out;
        margin-bottom: 10px;
        padding: 10px;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 2px 2px $hover-shadow;
        }

        &.platinum-background {
            background: linear-gradient(135deg, rgba($pure-white, 0.2), rgba($pure-white, 0.3));
            border: 2px solid $gold-border;
            box-shadow: 0 4px 20px $gold-border;
        }

        .progress-bar-container {
            margin-top: 5px;
            background: rgba($pure-white, 0.1);
            border-radius: 10px;
            height: 5px;
            width: 100%;
            overflow: hidden;
            position: relative;
        }

        .progress-bar {
            height: 100%;
            background-color: $goldenrod;
            transition: width 0.3s ease-in-out;
            border-radius: 10px;
        }

        .game-details {
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            color: $cloud-gray;

            h3 {
                margin: 0 0 10px;
                color: $bright-cyan;
            }

            .game-meta {
                position: relative;
                margin: 20px 0 10px 0;
                font-family: 'roboto', sans-serif;

                p {
                    display: grid;
                    grid-template-columns: 20px 1fr;
                    align-items: center;
                    margin: 0;
                    min-width: 0;
                }

                .progress-percentage {
                    position: absolute;
                    right: 0;
                    top: 90%;
                    margin-bottom: 10px;
                    transform: translateY(-50%);
                    color: $goldenrod;
                    white-space: nowrap;
                    padding-left: 20px;
                    background: linear-gradient(90deg, transparent 0%, $twilight-blue 20px);
                }
            }
        }
    }
}