<div class="news-container">
    <div class="featured-news" *ngIf="featuredNews">
        <div class="featured-image">
            <img [src]="featuredNews.urlToImage" alt="Imagem da notícia em destaque">
        </div>
        <div class="featured-text">
            <app-page-title [title]="featuredNews.title" [subtitle]="featuredNews.description"></app-page-title>
            <a [href]="featuredNews.url" target="_blank">Leia mais</a>
        </div>
    </div>

    <div class="d-flex">
        <h2 class="section-title">Notícias</h2>
        <app-platform-filter (platformSelected)="onPlatformSelected($event)"></app-platform-filter>
    </div>

    <hr class="divider">

    <div class="news-grid">
        <div class="news-item" *ngFor="let news of newsList">
            <img [src]="news.urlToImage" alt="Imagem da notícia" class="news-image" />
            <div class="news-content">
                <app-page-title [title]="news.title" [subtitle]="news.description"></app-page-title>
                <a [href]="news.url" target="_blank">Leia mais</a>
            </div>
        </div>

    </div>
</div>