<app-header-user-info></app-header-user-info>

<div class="container-global">
    <div *ngFor="let game of paginatedData" class="game-item">
      <div class="game-cover">
        <img [src]="game.coverUrl" alt="{{ game.name }}" />
      </div>
      <div class="game-info">
        <div class="game-name fs-18 bold">{{ game.name }}</div>
        <div class="achievements-details fs-12">
          <span>Conquistas {{ game.achievementsUnlocked }}/{{ game.totalAchievements }}</span>
          <div class="playtime-platinum-container">
            <span>Tempo Jogado: {{ game.playTime }} horas</span>
            <img *ngIf="game.percentage === 100" src="assets/steam-platinum.png" alt="Platinado" class="platinum-badge">
          </div>
          <span class="fs-18 bold">{{ game.percentage }}%</span>
        </div>
        <div class="progress-bar-container">
          <div class="progress-bar" [style.width]="game.percentage + '%'"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="isLoading" class="loading-spinner">Carregando mais jogos...</div>
  