@import '../../../../../shareds/colors.scss';
$transition-speed: 0.3s;

.menu-container {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.main-menu {
    width: 200px;
    padding: 60px 0;
    background-color: $void-black;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin: 15px 0;
    }

    .menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color $transition-speed ease;

        mat-icon {
            color: $pure-white;
            margin-bottom: 10px;
        }

        span {
            font-size: 12px;
            color: $pure-white-text;
            text-shadow: 0px 0px 10px $ghost-white;
        }
    }
}

.content {
    flex-grow: 1;
    padding: 20px;
    background: $ghost-white;
    box-shadow: inset 0px 0px 50px rgba($pure-black, 0.3);
    border-radius: 10px;
    margin: 10px;
    transition: all $transition-speed ease;
}

li:hover {
    background-color: $ghost-white;
    color: $pure-white;
}

@media (max-width: 768px) {
    .main-menu {
        width: 200px;
    }

    .submenu {
        width: 180px;
    }

    .content {
        margin-left: 0;
    }

    .submenu-open .content {
        margin-left: 0;
    }
}