    <!-- <div *ngIf="!loading && accountGames.length > 0" class="games-list">
        <div *ngFor="let game of accountGames" class="game-card">
            <div class="game-image">
                <img [src]="game.iconUrl || '/assets/default-image.jpg'" alt="Imagem do jogo {{ game.gameName }}" />
            </div>
            <div class="game-details">
                <h3>{{ game.gameName || 'Nome do jogo não disponível' }}</h3>
                <div class="game-meta">
                    <p><strong>Horas jogadas:</strong> {{ game.formattedPlaytime }}</p>
                    <p><strong>Conquistas:</strong> {{ game.achievementsCount }} / {{ game.totalAchievements }}</p>
                    <img src="assets/gamer.png" alt="">
                </div>

                <div class="progress-bar-container">
                    <div class="progress-bar"
                        [style.width]="(game.achievementsCount / game.totalAchievements) * 100 + '%'">
                    </div>
                </div>
            </div>
        </div>
    </div> -->