@import "../../../../shareds/colors.scss";

.title-badge {
    padding: 3px 5px;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: $purple-cyan-gradient;
    box-shadow: $cyan-aura;
    display: inline-block;
    margin: 30px 0 0 0;
}

.carousel-column {
    width: 97%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    background: rgba($midnight, 0.8);
    border: 2px solid $ghost-white;
    box-shadow: 0 0 10px $ghost-white;
    position: relative;
    overflow: visible;

    .carousel-dropzone {
        overflow-x: auto !important;
        width: 100%;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        scrollbar-color: $cyan-haze transparent;
    }

    .carousel-empty {
        .empty-text {
            color: $silver-gray;
            font-style: italic;
            padding: 10px;
        }
    }
}

.btn-glass {
    background: transparent;
    color: $pure-white;
    width: 30px;
    height: 20px;
    border-radius: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $ghost-white;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px $ghost-white;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: $ghost-white;
        box-shadow: 0 0 10px $milky-glass;
    }
}