<div class="favorite-game-container">
    <nav class="tab-nav d-flex">
        <button type="button" class="tab-button" [class.active]="isActiveTab('ranking-position')"
            (click)="navigateToTab('ranking-position')">
            <span class="fs-18">Top ranking</span>
        </button>

        <button type="button" class="tab-button" [class.active]="isActiveTab('playtime')"
            (click)="navigateToTab('playtime')">
            <span class="fs-18">Top jogados</span>
        </button>
    </nav>

    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>