<div class="search-container">
    <input type="text" placeholder="Search for a game..." [(ngModel)]="searchQuery" (input)="filterGames()">
</div>
<div class="carousel-container">
    <button class="carousel-btn left-btn" (click)="prevPage()" [disabled]="currentPage === 1">❮</button>
    <div class="games-carousel">
        <div class="games-grid">
            <div class="game-card" *ngFor="let game of displayedGames">
                <div class="game-cover">
                    <img *ngIf="game.cover && game.cover.url" [src]="game.cover.url" alt="{{ game.name }}">
                    <img *ngIf="!game.cover || !game.cover.url" src="assets/placeholder-image.jpg"
                        alt="Image not available">
                </div>
                <div class="game-info">
                    <h2>{{ game.name }}</h2>
                    <span class="game-category">Game</span>
                    <div class="metascore-section">
                        <p class="metascore-title">METASCORE</p>
                        <div class="metascore">
                            <div class="score" [ngClass]="{'no-score': !game.rating}">
                                {{ game.rating ? (game.rating | number: '1.0-0') : '--' }}
                            </div>
                            <div class="score-details" *ngIf="game.rating_count">
                                <p class="review">Generally Favorable</p>
                                <p>Based on {{ game.rating_count }} Critic Reviews</p>
                            </div>
                        </div>
                        <div class="score-bar" *ngIf="game.rating">
                            <div class="score-fill" [ngStyle]="{'width': (game.rating / 100 * 100) + '%'}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-btn right-btn" (click)="nextPage()" [disabled]="currentPage === totalPages">❯</button>
</div>