@import '../../../../../shareds/colors.scss';

.game-header-card {
  border-radius: 12px;
  padding: 10px 24px;
  margin-bottom: 24px;
  cursor: pointer;
  background: transparent;
  backdrop-filter: none;
  border: 1px solid transparent;
  transition: background 0.3s, backdrop-filter 0.3s, border 0.3s, box-shadow 0.3s;

  &:hover,
  &.active {
    background: $card-hover-bg;
    backdrop-filter: blur(8px);
    border-color: $card-hover-border;
    box-shadow: 0 4px 12px $shadow;
  }
}