.d-grid-double {
    grid-template-columns: 1fr 3fr;
}

.game-image {
    img {
        height: 40%;
    }

    padding: 15px;
}

.title-game {
    h3 {
        padding-left: 10px;
        padding-top: 20px;
    }
}