<div *ngIf="gameDetails" class="container-global">
    <div class="game-header-card" (click)="showDropdown = !showDropdown">
        <img class="game-icon" [src]="gameDetails.iconUrl || '/assets/default-image.jpg'"
            alt="{{ gameDetails.gameName }}" />

        <div class="game-title-wrapper">
            <h3 class="game-title">{{ gameDetails.gameName }}</h3>
            <mat-icon [class.rotated]="showDropdown">expand_more</mat-icon>
        </div>
    </div>

    <app-game-dropdown-selector [games]="gamesWithAchievements" [show]="showDropdown" (select)="selectGame($event)"
        (scrolledToBottom)="onScrollMoreGames()"></app-game-dropdown-selector>

    <app-game-stats [gameDetails]="gameDetails"></app-game-stats>

    <app-dropdown [options]="achievementFilterOptions" [selectedValue]="selectedFilter" placeholder="Filtrar conquistas"
        (valueSelected)="selectedFilter = $event">
    </app-dropdown>

    <app-achievements [achievements]="filterAchievements()" [loading]="gamePaginator.loading"
        [hasMore]="gamePaginator.hasMore" (loadMore)="onLoadMoreAchievements()">
    </app-achievements>

</div>