<div class="container-overflow scroll table-ranking">
    <ng-container *ngIf="topPlayTime$ | async as top10">
        <table mat-table [dataSource]="top10" class="mat-elevation-z8">

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let game; let i = index">
                    <ng-container [ngSwitch]="i">
                        <span *ngSwitchCase="0" class="top-rank">🥇</span>
                        <span *ngSwitchCase="1" class="top-rank">🥈</span>
                        <span *ngSwitchCase="2" class="top-rank">🥉</span>
                        <span *ngSwitchDefault>{{ i + 1 }}</span>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let game">
                    <img [src]="game.iconUrl" alt="{{ game.gameName }}" width="32" height="32" />
                </td>
            </ng-container>

            <ng-container matColumnDef="gameName">
                <th mat-header-cell *matHeaderCellDef>Jogo</th>
                <td mat-cell *matCellDef="let game">{{ game.gameName }}</td>
            </ng-container>

            <ng-container matColumnDef="playtime">
                <th mat-header-cell *matHeaderCellDef>Tempo</th>
                <td mat-cell *matCellDef="let game">{{ formatPlaytime(game.playtimeForever) }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </ng-container>
</div>