<div class="container-global">
    <div class="content-nav d-flex fs-12">
        <a (click)="navigateTo(GameStatusMenu.Achievements)"
            [ngClass]="{ 'active': selectedMenu === GameStatusMenu.Achievements }">Conquistas</a>

        <a (click)="navigateTo(GameStatusMenu.Platinum)"
            [ngClass]="{ 'active': selectedMenu === GameStatusMenu.Platinum }">Platinados</a>

        <a (click)="navigateTo(GameStatusMenu.InProgress)"
            [ngClass]="{ 'active': selectedMenu === GameStatusMenu.InProgress }">Em progresso</a>

        <a (click)="navigateTo(GameStatusMenu.Finished)"
            [ngClass]="{ 'active': selectedMenu === GameStatusMenu.Finished }">Zerados</a>

        <a (click)="navigateTo(GameStatusMenu.Dropped)"
            [ngClass]="{ 'active': selectedMenu === GameStatusMenu.Dropped }">Dropados</a>

        <a (click)="navigateTo(GameStatusMenu.Favorite)"
            [ngClass]="{ 'active': selectedMenu === GameStatusMenu.Favorite }">Favoritos</a>

        <a href="">🕒</a>
        <a href="">🔤</a>
        <a href="">🏆</a>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>