<div class="container-global">
    <div class="d-flex">
        <img [src]="userProfileUrl" alt="Foto de Perfil" class="profile-picture">

        <div>
            <div class="user-info">
                <span class="fs-24 user-name">{{userName}}</span>
            </div>
            <div class="nivel-container">
                <span class="user-level fs-14">
                    Nível: <span class="nivel">{{currentLevel}}</span>
                </span>
                <div class="progress-bar-container">
                    <div class="progress-bar" [style.width]="nextLevelProgress + '%'"></div>
                </div>
                <div class="fs-18 pontos">
                    {{totalPoints.toFixed(0)}} / {{calculatePointsForNextLevel().toFixed(0)}} pontos
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex stats-container">
        <div class="steam-points">
            <span class="points-text gap-5 fs-16">
                Conquistas: {{ totalSteamPoints }}
                <i class="temp fa fa-s"></i>{{ totalSteamPoints }}
            </span>
        </div>

        <div class="fs-16">
            <span class="platinum">
                <img src="assets/steam-platinum.png" alt="Platinado">
                {{ totalPlayedGames }} Jogos / {{ totalOwnedGames }} Total Jogos
            </span>
            <div class="platinum-progress-bar-container">
                <div class="platinum-progress-bar" [style.width]="(totalPlayedGames / totalOwnedGames) * 100 + '%'">
                </div>
            </div>
        </div>

        <div class="fs-16">
            <span class="platinum">
                <img src="assets/steam-platinum.png" alt="Platinado">
                {{ totalPlatinum }} Platinas / {{ totalGamesWithAchievements }} Total Jogos
            </span>
            <div class="platinum-progress-bar-container">
                <div class="platinum-progress-bar"
                    [style.width]="(totalPlatinum / totalGamesWithAchievements) * 100 + '%'">
                </div>
            </div>
        </div>
    </div>

    <span class="fs-14 all-Playtime">Tempo Total Jogados: {{ totalPlaytimeHours.toFixed(2) }} horas</span>
</div>