.g-icon {
    background: white;
    color: black;
    font-weight: bold;
    padding: 1px 4px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  