@import"../colors.scss";

body {
    margin: 0;
    background:
        url('../../assets/geraldao.png') no-repeat center center fixed;
    background-size: cover;
}

.content-nav {
    a {
        margin-right: 20px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

.container-global {
    max-width: 1000px;
    max-height: 1171px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba($background, 0.8);
    font-family: 'Orbitron', sans-serif;
    color: $white;
}

.games-container {
    max-width: 1000px;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif;
    color: white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 255, 255, 0.3);
}

.scroll {
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, #00d4ff, #00ff00);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(45deg, #00ff00, #00d4ff);
    }

    &::-webkit-scrollbar-thumb:active {
        background: linear-gradient(45deg, #ff0077, #00d4ff);
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

html,
h1,
h2,
h3 body {
    height: 100%;
    color: $black;
}

h1 {
    font-size: 26px;
}

p {
    font-size: 14px;
}

span {
    color: $white;
}

button span {
    color: inherit;
}

.d-flex {
    display: flex;
}

.center {
    align-items: center;
}

//gap
.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

//fonts
.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-24 {
    font-size: 24px;
}

.bold {
    font-weight: bold;
}

.text-align-center {
    text-align: center;
}

//grid
.d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.d-grid-double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
}

.d-grid-triple {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0;
}

//images
.game-image {
    img {
        width: auto;
        height: 100%;
        object-fit: contain;
        object-position: center;
        border-radius: 10px;
        transition: transform 0.3s ease, filter 0.3s ease;
        filter: contrast(1.2) brightness(1.1);

        &:hover {
            transform: scale(1.05);
            filter: contrast(1.5) brightness(1.3);
        }
    }
}