<div class="container-global">
    <div *ngIf="!loading && steamUser">
        <div class="d-grid-double">
            <div class="d-flex container-user-profile">
                <img [src]="steamUser.avatarUrl || '/assets/default-avatar.jpg'" alt="Avatar" class="profile-avatar" />
                <div class="profile-info">
                    <div class="username fs-24 bold">
                        <span> {{ steamUser.displayName || 'Nome de usuário não disponível' }}</span>
                    </div>
                    <div class="profile-level d-flex fs-16 bold">
                        <div class="stats">Level:
                            <span>{{ steamUserXpMock.level }}</span>
                        </div>
                        <div class="stats">Platinas:
                            <span> {{ steamUser.userStats.allPlatinum }}</span>
                        </div>
                        <div class="stats">Conquistas:
                            <span> {{ steamUser.userStats.allAchievements }}</span>
                        </div>
                        <!-- <div class="stats">Total Jogado:
                            <span>{{ formatPlaytimeDetailed(steamUser.userStats.allPlaytimeForever) }}</span>
                        </div> -->
                    </div>
                    <div class="xp-bar-container fs-14">
                        <span> {{ steamUserXpMock.xpCurrent }} XP / {{ steamUserXpMock.xpToNextLevel }} XP </span>
                        <div class="xp-bar">
                            <!-- <div class="xp-progress" [style.width]="getXpPercentage() + '%'"></div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-item-ranking">
                <div class="ranking-content">
                    <h2>Ranking</h2>
                    <div class="circle">
                        <span class="placement">#1</span>
                    </div>
                    <p class="statistic">{{steamUser.userStats.totalSteamPoints}} SP</p>
                </div>
            </div>
        </div>

        <div class="content-nav d-flex fs-12">
            <a (click)="goToHome()">Inicio</a>
            <a (click)="goToGameStatus()">Painel</a>
            <a (click)="goToConquistas()">Conquistas</a>
            <a (click)="goToRanking()">Ranking Global</a>
        </div>

        <!-- Segunda seção: Conteudos -->
        <div class="d-grid-double">
            <div class="content-roating">
                <router-outlet></router-outlet>
            </div>

            <app-sidebar></app-sidebar>
        </div>
    </div>
</div>